{
  "name": "Jobmonster",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "less/noo.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "js/member.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/member.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "less/job.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "less/variables.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "less/shortcode.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "less/slider.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "less/shortcode/loader.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "less/chosen.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "less/shortcode/noo-company.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "js/job.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/job.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "less/shortcode/job-advanced-search.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "js/markerclusterer.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/markerclusterer.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/job-map.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/job-map.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "less/progress-bars.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "less/resume.less",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "js/noo.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/noo.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/noo.login.social.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/min/noo.login.social.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "less/rtl.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../rtl.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "js/location-bing-map.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/location-bing-map.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/google-map-custom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/google-map-custom.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/infobox.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/infobox.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/jm-google-location.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/jm-google-location.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/resume-map.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/resume-map.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "less"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "less/noo.less",
      "imports": [
        "less/variables.less",
        "less/mixins.less",
        "less/normalize.less",
        "less/print.less",
        "less/scaffolding.less",
        "less/typography.less",
        "less/grid.less",
        "less/utilities.less",
        "less/responsive-utilities.less",
        "less/panels.less",
        "less/wells.less",
        "less/tables.less",
        "less/forms.less",
        "less/buttons.less",
        "less/thumbnails.less",
        "less/dropdowns.less",
        "less/navbar.less",
        "less/modals.less",
        "less/footer.less",
        "less/header.less",
        "less/alerts.less",
        "less/button-groups.less",
        "less/code.less",
        "less/call-to-action.less",
        "less/labels.less",
        "less/media.less",
        "less/accordion-tab.less",
        "less/popovers.less",
        "less/progress-bars.less",
        "less/tooltip.less",
        "less/responsive-embed.less",
        "less/breadcrumbs.less",
        "less/post_n_page.less",
        "less/widgets.less",
        "less/comments.less",
        "less/pagination.less",
        "less/animations.less",
        "less/icons.less",
        "less/carousel.less",
        "less/caroufredsel.less",
        "less/jplayer.less",
        "less/chosen.less",
        "less/contact-form-7.less",
        "less/revslider.less",
        "less/main.less",
        "less/shortcode.less",
        "less/loop.less",
        "less/single.less",
        "less/job.less",
        "less/resume.less",
        "less/custom-fields.less",
        "less/slider.less",
        "less/upload.less",
        "less/socical.less",
        "less/extra.less",
        "less/visual-composer.less",
        "less/company/loader.less",
        "less/shortcode/loader.less",
        "less/elementor/elementor-loader.less",
        "less/variables/core.less",
        "less/variables/common.less",
        "less/variables/structure.less",
        "less/variables/basic-elements.less",
        "less/variables/additional-elements.less",
        "less/variables/wordpress.less",
        "less/variables/library.less",
        "less/mixins/hide-text.less",
        "less/mixins/opacity.less",
        "less/mixins/image.less",
        "less/mixins/labels.less",
        "less/mixins/reset-filter.less",
        "less/mixins/resize.less",
        "less/mixins/responsive-visibility.less",
        "less/mixins/size.less",
        "less/mixins/tab-focus.less",
        "less/mixins/text-emphasis.less",
        "less/mixins/text-overflow.less",
        "less/mixins/vendor-prefixes.less",
        "less/mixins/alerts.less",
        "less/mixins/buttons.less",
        "less/mixins/panels.less",
        "less/mixins/pagination.less",
        "less/mixins/list-group.less",
        "less/mixins/nav-divider.less",
        "less/mixins/forms.less",
        "less/mixins/progress-bar.less",
        "less/mixins/table-row.less",
        "less/mixins/background-variant.less",
        "less/mixins/border-radius.less",
        "less/mixins/gradients.less",
        "less/mixins/clearfix.less",
        "less/mixins/center-block.less",
        "less/mixins/nav-vertical-align.less",
        "less/mixins/grid-framework.less",
        "less/mixins/grid.less",
        "less/shortcode/heading.less",
        "less/shortcode/job-category.less",
        "less/shortcode/job-advanced-search.less",
        "less/shortcode/noo-company.less",
        "less/shortcode/noo-service.less",
        "less/shortcode/noo-faq.less",
        "less/shortcode/clients.less",
        "less/shortcode/resume-category.less",
        "less/elementor/job/job-elementor.less",
        "less/elementor/noo-company.less",
        "less/elementor/noo-job-category.less",
        "less/elementor/noo-call-to-action.less",
        "less/elementor/noo-blog.less",
        "less/elementor/noo-step-icon.less",
        "less/elementor/noo-advanced-search.less",
        "less/elementor/noo-counter.less",
        "less/elementor/noo-service.less",
        "less/elementor/noo-text-info.less",
        "less/elementor/noo-recent-news.less",
        "less/elementor/noo-package.less",
        "less/elementor/noo-resume.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7900,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}